/* Ajusta el tamaño del carrusel */
.carousel-item img {
    height: 10px; /* Alto fijo */
    object-fit: cover; /* Recorta y ajusta la imagen */
}

/* Texto del carrusel con sombra para mejor visibilidad */
.carousel-caption h5,
.carousel-caption p {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}



